# General
PROJECT_NAME="HotTurbo"
APP_ENV="development"
BACKEND_V1_PREFIX="v1"
DOMAIN_FRONTEND="your domain here"
DOMAIN_BACKEND="api.yourdomain"

# Traefik
PROJECT_EMAIL="some email address"
RATELIMIT_AVG=10
RATELIMIT_BURST=20

# FRONT END
VITE_APP_ENV="development"
VITE_API_BASE_URL="https://api.youdomain"
VITE_API_V1_PREFIX="v1"

# DATABASE
POSTGRES_USER="change this"
POSTGRES_PASSWORD="change this"
PGDATA=/var/lib/postgresql/data/pgdata

# BACKEND
BACKEND_ENV=$APP_ENV
JWT_AUTH_SECRET="Change This"
JWT_ALGO="HS256"
DB_HOST="db:5432" # leave as db:5432 if running via docker compose
DB_NAME="postgres"
API_V1_PREFIX="v1"
ACCESS_TOKEN_EXPIRE_DAYS=365
EMAIL_ENABLED=true
SMTP_URL="some smtp providers url"
SMTP_PORT=465
EMAIL_USER="some email account"
EMAIL_PASSWORD="change this"